h1 {
    font-size: 70px;
    font-weight: 800;
    text-align: center;
    margin: 50px 10px 10px;
}

.texto-caja{
    font-weight: 600;
}

.cajita{
    box-shadow: 5px 5px 5px #e3e3e3;
}

.card-body{
    background-color: #ffeaea;;
}